meta(name="description" content="説明")
meta(property="og:title" content="タイトル")
meta(property="og:description" content="説明")
//meta(property="og:image" content="URL")
//meta(property="og:url" content="URL")
meta(property="og:type" content="website")
meta(name="twitter:card" content="summary_large_image")

//link(rel="shortcut icon" href="../src/asset/favicon.ico")
