doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title static starter with parcel
  body
    .container
      h1 Hello, World!!!!!!!!!!
      p this is static starter with parcel !!
  script(src='../src/index.js')
