@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import 'variables';
@import 'mixin';

body {
  background-color: $gray;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.container {
  color: $blue;
  width: 50vw;
  margin: 20vh auto;
}
